<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogDateDelete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LogDateDelete.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogDateDelete.Properties.Settings>
            <setting name="RootDir" serializeAs="String">
                <value>C:\Users\TestDir</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IntervalMins" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>C:\Users\TestDir</value>
            </setting>
        </LogDateDelete.Properties.Settings>
        <LogDateDelete.Settings>
            <setting name="RootDir" serializeAs="String">
                <value>C:\LogFiles</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>5</value>
            </setting>
        </LogDateDelete.Settings>
    </userSettings>
</configuration>